<article class="w-full h-full bg-gray-100 sm:rounded-2xl">
  <header class="flex items-center justify-between w-full gap-2 text-sm text-center p-4 bg-[var(--CL-primary)] text-white sm:rounded-t-xl">
    <a href="<%= category_path(@category) %>" class="flex items-center gap-1">
      <i class="text-white text-md fa-solid fa-arrow-left"></i>
    </a>
    <h1 class="text-sm font-normal tracking-wider text-white uppercase pointer-events-none ">New Transaction</h1>
  </header>
  <div>
      
    <%= form_for @movement, url: category_movements_path(@category), method: :post do |f| %>
      <fieldset>
         <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class:'w-full border-x-transparent border-y  border-t-2   border-gray-200 outline-1 focus:border-transparent focus:ring-0', required: true %>
      </fieldset>
      <fieldset>
          <%= f.number_field :amount, autofocus: true, autocomplete: "amount", placeholder: 'Amount', class:'w-full border-x-transparent border-y  border-t-2 border-gray-200 outline-1 focus:border-transparent focus:ring-0', required: true %>
      </fieldset>
      <fieldset class="mt-5 text-center actions text-[var(--CL-neutral)]">
        <%= f.submit "Save", class: "p-2 text-sm bg-[var(--CL-primary)] w-full block text-white md:hover:bg-black md:hover:text-white md:transition tracking-wide text-center cursor-pointer" %>
      </fieldset>
    <% end %>
  </div>
</article>