<section class="grid sm:p-4 mx-auto max-w-[370px] place-items-center sm:border sm:rounded-3xl sm:shadow-2xl bg-[var(--CL-neutral)] h-full">
  <article class="w-full h-full bg-gray-100 sm:rounded-2xl">
     <header class="flex items-center justify-between w-full gap-2 text-sm text-center p-4 bg-[var(--CL-primary)] text-white rounded-t-xl">
      <a href="<%=root_path%>">
        <i class="text-lg text-white fa-solid fa-arrow-left"></i>
      </a>
      <h1 class="text-base font-normal tracking-wider text-white uppercase pointer-events-none ">Register</h1>
      <%= link_to 'Next', root_path %>
    </header>
    <div class="px-2 pt-5  text-[var(--CL-neutral)] h-max">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Full name', class:'w-full border-x-transparent border-y  border-t-2 border-gray-200 outline-1 focus:border-transparent focus:ring-0' %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class:'w-full border-x-transparent border-y border-gray-200 outline-1 focus:border-transparent focus:ring-0' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class:'w-full border-x-transparent border-y border-gray-200 focus:border-transparent focus:ring-0' %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation', class:'w-full border-x-transparent border-y border-b-2 border-gray-200 focus:border-transparent focus:ring-0' %>
        </div>

        <div class="mt-5 text-center actions text-[var(--CL-neutral)]">
          <%= f.submit "Sign up", class: "p-2 text-sm bg-[var(--CL-primary)] w-full block text-white md:hover:bg-black md:hover:text-white md:transition tracking-wide text-center cursor-pointer" %>
        </div>
      <% end %>

      <fieldset class="mt-3">
        <%= render "devise/shared/links" %>
      </fieldset>
    </div>
  </article>
</section>



