<article class="w-full h-full bg-gray-100 sm:rounded-2xl">
  <header class="flex items-center justify-between w-full gap-2 text-sm text-center p-4 bg-[var(--CL-primary)] text-white sm:rounded-t-xl">
    <a href="<%=root_path%>" class="flex items-center gap-1">
     <%= image_tag 'brand.svg', class: 'w-6' %>
     CoinCraft
    </a>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'gap-2 p-1 text-white uppercase text-xs font-bold py-1.5 text-center block bg-red-600 rounded-md' %>
  </header>
  <div class="h-full overflow-auto max-h-[650px] sm:rounded-b-2xl">
    <header class="text-center bg-[var(--CL-neutral)]">
    <h1 class="text-sm font-normal tracking-wider text-white uppercase pointer-events-none">Categories</h1>
    </header>
    <ul class="relative flex flex-col h-full gap-3 p-0 py-3 list-none">
    <% @categories.each do |category| %>
      <li class="bg-white md:hover:shadow-xl md:hover:-translate-y-1 md:active:scale-95 md:transition">
        <a href="<%= category_path(category.id) %>" class="flex items-center gap-2 p-2">
          <picture class="w-10 h-10">
            <img src="<%= category.icon %>" alt="icon" class="object-cover border rounded-md">
          </picture>
          <h2 class="text-sm truncate text-ellipsis max-w-[10rem] font-normal"><%= category.name %></h2>
          <p class="ml-auto text-lg font-bold"><%= number_to_currency((category.movements.sum(&:amount)), precision: 2) %></p>
        </a>
      </li>
    <% end %>
      <li class="bg-[var(--CL-secondary)] md:active:scale-95 md:transition mt-auto">
        <%= link_to 'Add a New Category', new_category_path , class: 'gap-2 p-2 text-white uppercase text-sm font-bold py-3 text-center block' %>
      </li>
    </ul>
  </div>

</article>
