<article class="w-full h-full bg-gray-100 sm:rounded-2xl">
  <header class="flex items-center justify-between w-full gap-2 text-sm text-center p-4 bg-[var(--CL-primary)] text-white sm:rounded-t-xl">
    <a href="<%= categories_path %>" class="flex items-center gap-1">
      <i class="text-white text-md fa-solid fa-arrow-left"></i>
    </a>
    <h1 class="text-sm font-normal tracking-wider text-white uppercase pointer-events-none "><%= @category.name %></h1>
  </header>
  <div class="h-full overflow-auto max-h-[650px] sm:rounded-b-2xl">
    <header class="my-3 bg-white md:transition" >
      <div  class="flex items-center gap-2 p-2 py-3">
        <picture class="w-12 h-12">
          <img src="<%= @category.icon %>" alt="icon" class="object-cover">
        </picture>
        <h2 class="text-base truncate text-ellipsis max-w-[10rem] font-normal"><%= @category.name %></h2>
        <p class="ml-auto text-2xl font-bold"><%= number_to_currency(@total_amount, precision: 2) %></p>
      </div>
    </header>
    <h3 class="mb-3 text-sm font-normal text-center uppercase bg-[var(--CL-neutral)] text-white">Transactions</h3>
    <ul class="relative flex flex-col h-full gap-3 p-0 py-3 list-none">
    <% if @movements %>
      <% @movements.each do |movement| %>
        <li class="bg-white md:hover:shadow-xl md:hover:-translate-y-1 md:active:scale-95 md:transition">
          <a href="<%= category_movement(movement.id) %>" class="flex items-center gap-2 p-2">
            <picture class="w-12 h-12">
              <img src="<%= category.icon %>" alt="icon" class="object-cover">
            </picture>
            <h2 class="text-sm truncate text-ellipsis max-w-[10rem] font-normal"><%= category.name %></h2>
            <p class="ml-auto text-lg font-bold">$500</p>
          </a>
        </li>
      <% end %>
    <% end %>
      <li class="bg-[var(--CL-secondary)] md:active:scale-95 md:transition mt-auto">
        <%= link_to 'Add a New Transaction', new_category_movement_path(@category) , class: 'gap-2 p-2 text-white uppercase text-sm font-bold py-3 text-center block' %>
      </li>
    </ul>
  </div>

</article>